body {
    font-family: sans-serif;
}

nav a {
    color: grey;
    text-decoration: none;
    margin: .7rem;
    height: 50%;
}

nav a:hover{
    text-decoration: underline;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 10px 10px;
}

nav img{
    height: 35px;
    margin-right: .7rem;
    border-radius: 50%;
    margin-bottom: 5rem;

}

nav img:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

#horizontal-center{
        margin: auto;
        width: 50%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
  }

.searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
}

button {
    border: none;
    font-size: 15pt;
    padding: 0.5rem;
    margin-top: 2rem;
    color: grey;
}

.right-align {
    float: right;
}
