body {
    font-family: sans-serif;
}

header {
    display: block;
    overflow: hidden;
}

header nav li a {
    color: gray;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

nav a:hover{
    text-decoration: underline;
}

header ul {
    list-style-type: none;
    overflow: none;
    float: right;
}

header li {
    float: left;
}


nav img{
    height: 35px;
    margin-right: .7rem;
    border-radius: 50%;
    margin-bottom: 5rem;

}

nav img:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}









footer {
    position: fixed;
    bottom: 0;
    background-color: #f1f1f1 ;
    width: 100%;
    overflow: hidden;
}

footer nav li a {
    color: gray;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

footer ul {
    list-style-type: none;
    display: block;
}







