body {
    font-family: sans-serif;
    margin-left: 0;
}

header {
    display: block;
    overflow: hidden;
}

header nav li a {
    color: black;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

nav a:hover{
    text-decoration: underline;
}

header ul {
    list-style-type: none;
    overflow: none;
    float: right;
}

header li {
    float: left;
}


nav img{
    height: 35px;
    margin-right: .7rem;
    border-radius: 50%;
    margin-bottom: 5rem;

}

nav img:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

section {
    display: block;
    text-align: center;
    padding-top: 100px;
}

section div {
    padding-top: 15px;
}

button {
    color: gray;
    border: none;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    margin-top: 15px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

input {
    width: 500px;
    border-radius: 30px;
    padding: 10px;
    border-color: lightgray;
    border-width: 1px;
}

input:hover{
    box-shadow: 1px 1px 8px 1px lightgray;
    outline: none;   
}

input:focus-within{
    outline: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #f1f1f1 ;
    width: 100%;
    overflow: hidden;
    height: 10vh;
}

footer nav {
    display: block;
}

footer nav li a {
    color: gray;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline-block;
    float: left;
}

footer nav a{
    display: flex;
    flex-direction: row;
}









